<div class="col-md-8">
  <h5>コーチ編集</h5>

  <%= form_for @coach, :url => { :action => :update } do |f| %>

  <div class="coach-edit-form">
      <table>
        <tbody>
          <tr>
            <th><%= f.label :コーチ名 %></th>
            <td><%= f.text_field :name %></td>
          </tr>

          <tr>
            <th><%= f.label :アイコン %></th>
            <td><%= f.file_field :face %></td>
          </tr>


          <tr>
            <th><%= f.label :性別 %></th>
            <td><%= f.text_field :sex %></td>
          </tr>

          <tr>
            <th><%= f.label :年齢 %></th>
            <td><%= f.text_field :age %> 歳</td>
          </tr>

          <tr>
            <th><%= f.label :活動場所 %></th>
            <td><%= f.text_field :area %></td>
          </tr>

          <tr>
            <th><%= f.label :ジャンル %></th>
            <td><%= f.text_field :jangle %></td>
          </tr>

          <tr>
            <th><%= f.label :希望報酬 %></th>
            <td><%= f.text_field :money %></td>
          </tr>


        </tbody>
      </table>

      <div class="user-change-btn">
        <%= f.submit '更新' %>
      </div>

  </div>

<% end %>
</div>
