

<%= render 'shared/header' %>
<%= render 'users/showheader' %>





<div class="row">

  <div class="container user-edit-main">
    <%= render 'users/usershowleft' %>

    <%= render 'coachs/coacheditright' %>


  </div>



</div>




<%= render 'shared/footer' %>
