

<%= render 'shared/header' %>

<div class="container">

  <div class="coach-new-main">

  <h2>コーチ登録する</h2>

    <ul>

      <%= form_for @coach, :url => {:action => :create} do |f| %>


      <li><%= f.label :性別 %></li>

    <label><%= f.radio_button :sex, "男" %>男</label>
    <label><%= f.radio_button :sex, "女" %>女</label>

      <li><%= f.label :年齢 %></li>

      <%= f.select :age, { "1" => "1",
                                "2" => "2",

                                "3" => "3",
                                "4" => "4",
                                "5" => "5",
                                "6" => "6",
                                "7" => "7",
                                "8" => "8",
                                "9" => "9"

                              }

                                %>



      <li><%= f.label :エリア %></li>
      <li><%= f.text_field :area %></li>

      <li><%= f.label :ジャンル %></li>
      <li><%= f.text_field :jangle %></li>


      <%= f.submit '登録する' %>

      <% end %>


    </ul>

  </div>

</div>
<!-- container -->

<%= render 'shared/footer' %>
