

<%= render 'shared/header' %>

<div class="container">

  <div class="coach-new-main">

  <h2>コーチになる</h2>

    <ul>
      <%= form_for @coach, :url => {:action => :create} do |f| %>

      <li><%= f.label :名前 %></li>
      <li><%= f.text_field :name %></li>


      <li><%= f.label :性別 %></li>
      <label><%= f.radio_button :sex, "男性" %>男</label>
      <label><%= f.radio_button :sex, "女性" %>女</label>

      <li><%= f.label :年齢 %></li>
      <%= f.select :age, { "1" => "1",
                                      "2" => "2",

                                      "3" => "3",
                                      "4" => "4",
                                      "5" => "5",
                                      "6" => "6",
                                      "7" => "7",
                                      "8" => "8",
                                      "9" => "9"

                                    } %>

      <li><%= f.label :エリア %></li>
      <li><%= f.text_area :area, :placeholder => "渋谷区周辺" %></li>

      <li><%= f.label :ジャンル %></li>
      <li><%= f.text_area :jangle, :placeholder => "サッカー、野球、テニス、ゲーム" %></li>

      <li><%= f.label :希望時間・期間 %></li>
      <li><%= f.text_area :when, :placeholder => "一週間、一時間など期間を記入してね。" %></li>

      <li><%= f.label :希望報酬・年俸 %></li>
      <li><%= f.text_area :money, :placeholder => "一万円、五百円など給料を報酬を記入してね。" %></li>



      <%= f.submit '登録する' %>

      <% end %>
    </ul>

  </div>

</div>
<!-- container -->

<%= render 'shared/footer' %>
