

<%= render 'shared/header' %>


  <div class="container">

    <h3><%= @coach.name %></h3>
      <p><%= @coach.sex %></p>
      <p><%= @coach.age %> 歳</p>
      <p><%= @coach.jangle %></p>

  </div>

  <!-- <% if current_user %> -->

    <%= link_to 'edit', edit_coach_path(current_user) %>
<!-- <% end %> -->


<%= render 'shared/footer' %>
