

<%= render 'shared/header' %>


  <div class="container">
    <h2 class="coach-show-title">コーチ詳細</h2>

    <div class="coach-show-main">


    <%= image_tag @coach.face, { :class => "img-circle" } %>

    <h3>コーチ名：<%= @coach.name %></h3>
      <p>性別：<%= @coach.sex %></p>
      <p>年齢：<%= @coach.age %> 歳</p>
      <p>ジャンル：<%= @coach.jangle %></p>

      <div class="send-mail-btn">
        <%= link_to '相談する' %>
      </div>

  </div>
  <!-- coach-show-main -->

</div>
<!-- container -->

<%= render 'shared/footer' %>
