

<%= render 'shared/header' %>
<%= render 'showheader' %>







<div class="row">
  <div class="container user-edit-main">
    <%= render 'usershowleft' %>
    <%= render 'usershowright' %>



</div>
</div>














<%= render 'shared/footer' %>
