
<%= render 'shared/header' %>


<div class="container">

  <div class="user-new-main">


    <h1>ユーザー登録</h1>

    <%= form_for(@user) do |f| %>

    <li><%= f.label :名前 %></li>
    <li><%= f.text_field :name %></li>

    <li><%= f.label :メールアドレス %></li>
    <li><%= f.email_field :email %></li>


    <li><%= f.label :パスワード %></li>
    <li><%= f.password_field :password %></li>

    <li><%= f.label :パスワード %></li>
    <li><%= f.password_field :password_confirmation %></li>

    <li><%= f.submit '送信' %></li>




<% end %>


</div>

</div>


<%= render 'shared/footer' %>
