
<%= render 'shared/header' %>





<%= render 'showheader' %>




<div class="container">
  <div class="page-home-main">

    <h2><%= fa_icon "futbol-o" %>コーチ登録 ( <%= @user.coaches.count %> )</h2>

        <div class="row">

          <%= render @coachs %>


        </div>
      <!-- row -->

  </div>
</div>
<!-- container -->








<%= render 'shared/footer' %>
