

<div class="col-md-4">



  <div class="thumbnail">

    <%= image_tag coach.face %>

    <div class="caption">
      <h3><%= coach.name %></h3>
        <p><%= coach.sex %></p>
        <p><%= coach.age %> 歳</p>
        <p><%= coach.jangle %></p>
      <p><%= link_to '詳しく見る', coach, { :class => "btn btn-primary" } %></p>
    </div>

  </div>

</div>
